.sliderContainer {
  position: relative;
  margin-top: 1rem;
}


            /* style={{
              position: "absolute",
              cursor: "pointer",
              fontSize: "3rem",
              color: "white",
              top: "50%",
              left: "27.5%",
              // "&:hover": {
              // 	backgroundColor: "green",
              // },
            }} */

.sliderArrowLeft {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  color: white;
  top: 50%;
  left: 27.5%;
}

.sliderArrowRight {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  color: white;
  top: 50%;
  right: 27.5%;
}

.sliderArrowLeft:hover, .sliderArrowRight:hover {
  color: lightgray;
  background-color: green;
}

.picture {
  width: 45rem;
  height: 35rem;
}

.priceText {
  font-weight: bolder;
  color: #21ef06;
}

.listingInfoContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 3rem; */
  border: 5px solid darkgray;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 0.2rem;
}

.optionTag{
  display: flex;
}

.checkBoxIcon {
  font-size: 2rem;
  color: green;
}
